<ion-view view-title="DSR">
  <ion-content>
    <div class="row" style="font-size: 11px;font-weight: 100;color: #dcdcdc;background: #2d6096;padding-top: 15px;">
      <div class="col col-100" style="text-align: center;">
        <p style="text-align: center;font-size: 21px;color: #cae1f8;font-weight: 500;">Summary</p>
        <div class="radio-group">
          <input type="radio" id="option-one" name="selector" checked="checked">
          <label for="option-one">MTD</label>
          <input type="radio" id="option-two" name="selector">
          <label for="option-two">YTD</label>
        </div>
      </div>
    </div>
    <div class="row" style="font-size: 11px;font-weight: 100;color: #858585;margin-top: 5px;">
      <div class="col col-50" style="text-align: center;">
        <p style="margin: 0px;color: #909396;font-weight: 700;font-size: 12px;">VALUE</p>
        <h1 style="color: #0a73a2;margin: 2px;" count-up="" start-val="0" end-val="20.45" decimals="2">20.45</h1>
        <p style="font-size: 20px;color: #4CAF50;font-weight: 500;">15.25% <i class="icon ion-arrow-up-a"></i></p>
        <p style="margin: 0px;color: #3F51B5;font-size: 14px;font-weight: bold;">LY - 15.32</p>
        <p style="margin: 0px;color: #F44336;font-weight: 500;">BUDGET - 15.04</p>
        <p style="color: #795548;font-weight: 800;">ACH - 12.04</p>
      </div>
      <div class="col col-50" style="text-align: center;">
        <p style="margin: 0px;color: #909396;font-weight: 700;font-size: 12px;">VOLUME</p>
        <h1 style="color: #0a73a2;margin: 2px;" count-up="" start-val="0" end-val="25.45" decimals="2">25.45</h1>
        <p style="font-size: 20px;color: #4CAF50;font-weight: 500;">65.25% <i class="icon ion-arrow-up-a"></i></p>
        <p style="margin: 0px;color: #3F51B5;font-size: 14px;font-weight: bold;">LY - 01.32</p>
        <p style="margin: 0px;color: #F44336;font-weight: 500;">BUDGET - 20.04</p>
        <p style="color: #795548;font-weight: 800;">ACH - 01.04</p>
      </div>
    </div>
   <div class="card" style="background: transparent;box-shadow: none;border-radius: 0px;color: #FFF;margin-top: 0px;">
      <div class="item animated slideInUp" style="color: #FFF;box-shadow: none;padding: 0px;text-align: center;">
        <div class="row" style="font-size: 11px;font-weight: 700;color: #2d6096;background: #ddedff;">
          <div class="col col-10"></div>
          <div class="col col-20">LY</div>
          <div class="col col-20">TY</div>
          <div class="col col-20">BUDGET</div>
          <div class="col col-10">ACH</div>
          <div class="col col-20" style="text-align: right;">%GRW</div>
        </div>
        <div class="row" style="font-size: 15px;font-weight: 400;color: #585858;text-align: left;">
          <div class="col">006:Kolkata - 3</div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VOL</div>
          <div class="col col-20">15.20</div>
          <div class="col col-20">20.36</div>
          <div class="col col-20">10.35</div>
          <div class="col col-10">0.25</div>
          <div class="col col-20" style="color: #4CAF50;text-align: right;">65% <i class="icon ion-arrow-up-a"></i></div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VAL</div>
          <div class="col col-20">14.20</div>
          <div class="col col-20">12.36</div>
          <div class="col col-20">20.35</div>
          <div class="col col-10">23.25</div>
          <div class="col col-20" style="color: #4CAF50;text-align: right;">105% <i class="icon ion-arrow-up-a"></i></div>
        </div>
      </div>
      <div class="item animated slideInUp " style="box-shadow: none;padding: 0px;text-align: center;border-top: 0.1em solid #c3c3c3;">
        <div class="row" style="font-size: 15px;font-weight: 400;color: #585858;text-align: left;">
          <div class="col">006:Kolkata - 3</div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VOL</div>
          <div class="col col-20">15.20</div>
          <div class="col col-20">20.36</div>
          <div class="col col-20">10.35</div>
          <div class="col col-10">0.25</div>
          <div class="col col-20" style="color: #4CAF50;text-align: right;">65% <i class="icon ion-arrow-up-a"></i></div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VAL</div>
          <div class="col col-20">14.20</div>
          <div class="col col-20">12.36</div>
          <div class="col col-20">20.35</div>
          <div class="col col-10">23.25</div>
          <div class="col col-20" style="color: #4CAF50;text-align: right;">105% <i class="icon ion-arrow-up-a"></i></div>
        </div>
      </div>
      <div class="item animated slideInUp " style="box-shadow: none;padding: 0px;text-align: center;border-top: 0.1em solid #c3c3c3;">
        <div class="row" style="font-size: 15px;font-weight: 400;color: #585858;text-align: left;">
          <div class="col">006:Kolkata - 3</div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VOL</div>
          <div class="col col-20">15.20</div>
          <div class="col col-20">20.36</div>
          <div class="col col-20">10.35</div>
          <div class="col col-10">0.25</div>
          <div class="col col-20" style="color: #F44336;text-align: right;">65% <i class="icon ion-arrow-down-a"></i></div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VAL</div>
          <div class="col col-20">14.20</div>
          <div class="col col-20">12.36</div>
          <div class="col col-20">20.35</div>
          <div class="col col-10">23.25</div>
          <div class="col col-20" style="color: #4CAF50;text-align: right;">105% <i class="icon ion-arrow-up-a"></i></div>
        </div>
      </div>
      <div class="item animated slideInUp " style="box-shadow: none;padding: 0px;text-align: center;border-top: 0.1em solid #c3c3c3;">
        <div class="row" style="font-size: 15px;font-weight: 400;color: #585858;text-align: left;">
          <div class="col">006:Kolkata - 3</div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VOL</div>
          <div class="col col-20">15.20</div>
          <div class="col col-20">20.36</div>
          <div class="col col-20">10.35</div>
          <div class="col col-10">0.25</div>
          <div class="col col-20" style="color: #F44336;text-align: right;">65% <i class="icon ion-arrow-down-a"></i></div>
        </div>
        <div class="row" style="font-size: 12px;font-weight: 700;color: #22404e;">
          <div class="col col-10">VAL</div>
          <div class="col col-20">14.20</div>
          <div class="col col-20">12.36</div>
          <div class="col col-20">20.35</div>
          <div class="col col-10">23.25</div>
          <div class="col col-20" style="color: #4CAF50;text-align: right;">105% <i class="icon ion-arrow-up-a"></i></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
