<ion-view view-title="Dashboard">
    <ion-content>
        <div style="background: #fff;box-shadow: 0 0 3px #c9c6c6;width: 95%;margin: auto;margin-top: 15px;">
            <div class="row" style="background: linear-gradient(60deg,#009688,#9C27B0);color: #FFF;">
                <div class="col" style="text-align: right;">
                    <div style="position: absolute;font-size: 24px;">Sales</div>
                    <div class="radio-dashboard-group">
                        <input type="radio" id="option-one" name="selector" checked="checked">
                        <label for="option-one">VALUE</label>
                        <input type="radio" id="option-two" name="selector">
                        <label for="option-two">VOLUME</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col col-50">
                    <h1 style="font-size: 25px;color: #198178;margin-bottom: 3px;">Distributor</h1>
                    <div style="color: #4CAF50;font-weight: 500;font-size: 18px;">15.25%
                        <i class="icon ion-arrow-up-a"></i>
                    </div>
                    <p style="font-size: 0.9em;margin: 2px 0px;color: #1b516b;font-weight: 500;">TY - 25253.60</p>
                    <p style="font-size: 0.9em; margin: 2px 0px;color: #1b516b;font-weight: 500;">LY - 25253.60</p>
                    <div style="position: absolute;font-size: 45px;margin-top: -34px;color: #a8a7a7;opacity: .4;font-weight: 700;">MTD</div>
                </div>
                <div class="col col-50" style="text-align: right;">
                    <div style="color: #4CAF50;font-weight: 700;font-size: 30px;">15.25%
                        <i class="icon ion-arrow-up-a"></i>
                    </div>
                    <p style="font-size: 14px;margin: 2px 0px;color: #9C27B0;font-weight: 700;">TY - 25253.60</p>
                    <p style="font-size: 14px;margin: 2px 0px;color: #3F51B5;font-weight: 700;">LY - 25253.60</p>
                    <p style="font-size: 14px;margin: 2px 0px;color: #7d8714;font-weight: 700;">Budget - 25253.60</p>
                    <div style="position: absolute;font-size: 45px;margin-top: -34px;color: #a8a7a7;opacity: .4;font-weight: 700;text-align: right;width: 42%;">YTD</div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;border-top: 1px solid #bbb;">
                <div class="col col-50">
                    <h1 style="font-size: 25px;color: #198178;margin-bottom: 3px;">Retail</h1>
                    <div style="color: #4CAF50;font-weight: 500;font-size: 18px;">15.25%
                        <i class="icon ion-arrow-up-a"></i>
                    </div>
                    <p style="font-size: 0.9em;margin: 2px 0px;color: #1b516b;font-weight: 500;">TY - 25253.60</p>
                    <p style="font-size: 0.9em; margin: 2px 0px;color: #1b516b;font-weight: 500;">LY - 25253.60</p>
                    <div style="position: absolute;font-size: 45px;margin-top: -34px;color: #a8a7a7;opacity: .4;font-weight: 700;">MTD</div>
                </div>
                <div class="col col-50" style="text-align: right;">
                    <div style="color: #4CAF50;font-weight: 700;font-size: 30px;">15.25%
                        <i class="icon ion-arrow-up-a"></i>
                    </div>
                    <p style="font-size: 14px;margin: 2px 0px;color: #9C27B0;font-weight: 700;">TY - 25253.60</p>
                    <p style="font-size: 14px;margin: 2px 0px;color: #3F51B5;font-weight: 700;">LY - 25253.60</p>
                    <p style="font-size: 14px;margin: 2px 0px;color: #7d8714;font-weight: 700;">Budget - 25253.60</p>
                    <div style="position: absolute;font-size: 45px;margin-top: -34px;color: #a8a7a7;opacity: .4;font-weight: 700;text-align: right;width: 42%;">YTD</div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;border-top: 1px solid #bbb;">
                <div class="col col-50">
                    <h1 style="font-size: 25px;color: #198178;margin-bottom: 3px;">Total</h1>
                    <div style="color: #4CAF50;font-weight: 500;font-size: 18px;">15.25%
                        <i class="icon ion-arrow-up-a"></i>
                    </div>
                    <p style="font-size: 0.9em;margin: 2px 0px;color: #1b516b;font-weight: 500;">TY - 25253.60</p>
                    <p style="font-size: 0.9em; margin: 2px 0px;color: #1b516b;font-weight: 500;">LY - 25253.60</p>
                    <div style="position: absolute;font-size: 45px;margin-top: -34px;color: #a8a7a7;opacity: .4;font-weight: 700;">MTD</div>
                </div>
                <div class="col col-50" style="text-align: right;">
                    <div style="color: #4CAF50;font-weight: 700;font-size: 30px;">15.25%
                        <i class="icon ion-arrow-up-a"></i>
                    </div>
                    <p style="font-size: 14px;margin: 2px 0px;color: #9C27B0;font-weight: 700;">TY - 25253.60</p>
                    <p style="font-size: 14px;margin: 2px 0px;color: #3F51B5;font-weight: 700;">LY - 25253.60</p>
                    <p style="font-size: 14px;margin: 2px 0px;color: #7d8714;font-weight: 700;">Budget - 25253.60</p>
                    <div style="position: absolute;font-size: 45px;margin-top: -34px;color: #a8a7a7;opacity: .4;font-weight: 700;text-align: right;width: 42%;">YTD</div>
                </div>
            </div>
        </div>

        <div style="background: #fff;box-shadow: 0 0 3px #c9c6c6;width: 95%;margin: auto;margin-top: 15px;">
            <div class="row" style="background: linear-gradient(60deg,#E91E63,#465291,#637bae);color: #FFF;">
                <div class="col" style="text-align: right;">
                    <div style="position: absolute;font-size: 24px;">Your Child</div>
                    <i class="ion-loop" style="font-size: 25px;margin-right: 10px;"></i>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col col-20">
                    <div class="img_online">PS</div>
                </div>
                <div class="col col-80">
                    <span style="float: right;color: #7f7d7d;">06:05 PM</span>
                    <h2 style="margin: 0px;font-size: 18px;color: #3F51B5;">PRASENJIT SAHA</h2>
                    <p style="color: #565656;">DG Block(Newtown), Action Area I, Newtown, New Town, West Bengal 700156</p>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;border-top: 1px solid #b3b1b1;">
                <div class="col col-20">
                    <div class="img_online1">SD</div>
                </div>
                <div class="col col-80">
                    <span style="float: right;color: #7f7d7d;">06:05 PM</span>
                    <h2 style="margin: 0px;font-size: 18px;color: #3F51B5;">SUBRATA DAS</h2>
                    <p style="color: #565656;">Abad Para Durga Mandir, Newtown, Dharmatala Pachuria, West Bengal 743502</p>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;border-top: 1px solid #b3b1b1;">
                <div class="col col-20">
                    <div class="img_online">PR</div>
                </div>
                <div class="col col-80">
                    <span style="float: right;color: #7f7d7d;">06:05 PM</span>
                    <h2 style="margin: 0px;font-size: 18px;color: #3F51B5;">Pankaj Rawat</h2>
                    <p style="color: #565656;">DG Block(Newtown), Action Area I, Newtown, New Town, West Bengal 700156</p>
                </div>
            </div>
        </div>


        <!-- <div style="background: #9E9E9E;text-align: center;width: 95%;margin: auto;margin-top: 20px;">
        <div style="width: 100%;">
            Distributor
        </div>
        <div style="width: 32%;display: inline-block;">
            258.36
        </div>
        <div style="width: 32%;display: inline-block;">
            150.36
        </div>
        <div style="width: 32%;display: inline-block;">
            85% 
        </div>
        <div style="width: 100%;">
            Retail
        </div>
        <div style="width: 32%;display: inline-block;">
            258.36
        </div>
        <div style="width: 32%;display: inline-block;">
            150.36
        </div>
        <div style="width: 32%;display: inline-block;">
            85% 
        </div>
        <div style="width: 100%;">
            Total
        </div>
        <div style="width: 32%;display: inline-block;">
            258.36
        </div>
        <div style="width: 32%;display: inline-block;">
            150.36
        </div>
        <div style="width: 32%;display: inline-block;">
            85% 
        </div>
     </div>  -->



    </ion-content>
</ion-view>